<p id="notice"><%= notice %></p>

<h1>Acta</h1>

<table class="table table-striped table-hover"> 
  <thead class="table-primary">
    <tr>
      <th>Num acta</th>
      <th>Dominio</th>
      <th>Fecha</th>
      <th>Tipo vehiculo</th>
      <th>Pertenece a</th>
      <th>Juzgado</th>
      <th>Articulo</th>
      <th>Autoridad</th>
    </tr>
  </thead>

  <tbody>
    <% @acta.each do |actum| %>
      <tr>
        <td>
          <%= link_to actum.num_acta, actum %>
        </td>
        <td><%= actum.dominio %></td>
        <td><%= actum.fecha %></td>
        <td><%= actum.tipo_vehiculo %></td>
        <td><%= actum.pertenece_a %></td>
        <td><%= actum.juzgado %></td>
        <td><%= actum.articulo %></td>
        <td><%= actum.autoridad %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Actum', new_actum_path %>
